@media (min-width: 768px) {
    #viewjogador {
        flex: 0 0 30.0%;
        max-width: 30%;
    }

}
#camisa{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}
#camisa img{
    width: 300px;
}
#camisa #person{
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#camisa #person p#numero{
    font-size: 90px;
}
@media (min-width: 768px) {
    #viewpagamentos{
        flex: 0 0 80.0%;
        max-width: 80%;
    }

}
#setsjog{
    display: flex; 
    justify-content: space-between;
}

#jogadorpay button{
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}
@media (min-width: 768px) {
    #viewfaturas{
        flex: 0 0 50%;
        max-width: 50%;
    }

}