/*Escondendo o carregando*/
.hide{
    display: none;
}
/*div de carregamento*/
#carregando{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

}
/*Relacionados a card*/
.card #itens {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card #itens form {
    width: 70%;
}

.card #itens a {
    width: 25%;
}

.card #itens a span {
    text-decoration: none;
    font-size: 0.75rem;
    margin-left: 0.5rem;
}

.card #tabfiltros {
    display: flex;
    margin-bottom: 8px;
    justify-content: flex-end;
}

.card #tabfiltros form {
    justify-content: left;
}

.card #tabfiltros #filtros {
    margin-right: 1rem;
    margin-left: 1rem;
}

.card #tabfiltros #filtros select {
    height: 2rem;
    background-color: #e2e2e2;
    border-radius: 4px 0px 0px 4px;
}

.card #tabfiltros #filtros a {
    width: 40px;
    background-color: #e2e2e2;
    border-radius: 0px 4px 4px 0px;
}
.card #dtjghist {
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

.card #dtjghist input {
    border: none;
}

.card #dtjghist a {
    margin-left: 1rem;
}

.card #dtjghist span {
    font-size: 1.5rem;
}
#cardaddjogador {
    cursor: pointer;
    text-decoration: none;
}
#cardgerenciar {
    cursor: pointer;
    text-decoration: none;
}
.card #headerlist {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#cabecajog {
    align-items: right;
}

@media (min-width: 768px) {
    #barradeprocura {
        flex: 0 0 100.0%;
        max-width: 100%;
    }

}
/*pagejogadoreslist*/
.card #cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card #cabecalho p {
    width: 10%;
    text-align: center;
    align-items: center;
}

.card #pagmin {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card #atleta {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card #atleta p {
    width: 10%;
    text-align: center;
    align-items: center;
}

#filtros {
    display: flex;
    width: 100%;
    justify-content: space-between;

    border-radius: 5px;

    margin-bottom: 10px;
}
.topbar #logomarca span {
    margin-right: 1rem;
    font-size: 1.3rem;
}

.topbar #logomarca {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbar #logomarca img {
    width: 120px;
    margin-right: 1rem;
}
/*cor de fundo do sidebar*/
.bg-gradient-primary { 
    background-color: #1cc88a !important;
    background-image: linear-gradient(180deg,#1cc88a 10%,#048881 100%) !important;
    background-size: cover !important; /*o !important serve pra sobescrever as definições dp css do template*/
}
.sidebar .nav-item #escudonome {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar .nav-item #escudonome img {
    width: 75px;
}

/*Modal*/
.modal-header img{
    width: 50px;
}
/*Alinhando time, número e data - modal de adicionar*/
.modal-body #timenum{
    display: flex;
    justify-content: space-between;
}
.modal-body #timenum #time{
    width: 40%;
}
.modal-body #timenum #numinput{
    width: 17%;
}
.modal-body #timenum #dataing{
    width: 40%;
}
/*modal de editar pelada*/
.modal-body #editefoto{
    display: flex;
}
.modal-body #editefoto #edicoes{
    width: 50%;
}
.modal-body #editefoto #logopelada{
    padding: 5px;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-body #editefoto #logopelada #mudarfoto{
    border: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.modal-body #editefoto #logopelada #mudarfoto img{
    width: 100px;
}
.modal-body #editefoto #logopelada #mudarfoto input{
    display: none;
    width: 100px;
}
/*Alinhando inicio, termino, data de pagemento e valor*/
.modal-body #datas{
    display: flex;
    justify-content: space-between;
}
.modal-body #datas #termino{
    width: 49%;
}
.modal-body #datas #inicio{
    width: 49%;
}
.modal-body #financas{
    display: flex;
    justify-content: space-between;
}
.modal-body #financas #payday{
    width: 49%;
}
.modal-body #financas #valor{
    width: 49%;
}

/*a parte da unidade 1 vem até aqui*/
#jogall {
    display: flex;
}

#dadosepagamento {
    display: flex;
    flex-direction: column;
    width: 66%;
}

#dadosepagamento .card #cabecalhoa {
    display: flex;
    background-color: #f0f0f0;
    ;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
}

#dadosepagamento .card #cabecalhoa p {
    width: 33%;
    text-align: center;
    align-items: center;
}

#dadosepagamento .card #atletas {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#dadosepagamento .card #atletas p {
    width: 33%;
    text-align: center;
    align-items: center;
}

@media (min-width: 768px) {
    #telajogador {
        flex: 0 0 100%;
        max-width: 100%;
        max-height: 280px;
    }
    #telapagamento {
        flex: 0 0 100%;
        max-width: 100%;
        max-height: 200px;
    }

}
#telajogador #pagamento p {
    justify-content: center;
    text-align: center;
}

.card #meses {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#telajogador #meses p {
    width: 8%;
    text-align: center;
    align-items: center;
}
#novopagamento {
    display: flex;
    padding-left: 10px;
    align-items: center;
    background-color: #f0f0f0;
    height: 40px;
    border-radius: 3px;
}
#novopagamento #rseinput {
    margin-left: 5px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    background-color: rgb(228, 227, 227);
    border: solid;
    border-radius: 3px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 2px;
}
#novopagamento input {
    background-color: rgb(228, 227, 227);
    width: 40px;
    text-align: center;
    border-radius: 0px 3px 3px 0px;
    border: none;
    outline: none;
}
#novopagamento select {
    margin-left: 10px;
    background-color: rgb(228, 227, 227);
    text-align: center;
    border-radius: 3px;
    border: solid;
    outline: none;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 2px;
}
#novopagamento a {
    margin-left: 10px;
    width: 70px;
    background-color: rgb(228, 227, 227);
    text-align: center;
    border-radius: 3px;
    border: solid;
    text-decoration: none;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 2px;
}
#novopagamento a:hover {
    background-color: #1cc88a;
    color: green !important;
}
@media (min-width: 768px) {
    #sgeassistcard {
        flex: 0 0 50.0%;
        max-width: 50%;
    }

}
/*artilheiro*/
#artilheiro {
    background-color: #fffed6;
}
.card #visual {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 1rem;
}
.card #visual #posenum {
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card #visual #posenum p#posicao {
    margin-top: 1rem;
    font-size: 30px;
}
.card #visual #posenum p#num {
    margin-top: 3rem;
    font-size: 80px;
    color: #2bc3ff;
}
.card #visual #fotoenome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card #visual #fotoenome img {
    width: 15rem;
    height: 15rem;
    ;
}
.card #visual #fotoenome p {
    width: 100%;
    text-align: center;
    border-radius: 3px;
    background-color: #bcbcc5;
}
#header-tabela{
    display: flex; 

    justify-content: space-between;
    align-items: center;
}
#header-tabela select{
    width: 70px;

    text-align: center;
}